[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hashids = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pylint = "*"
pycodestyle = "*"
autopep8 = "*"
django = "*"
pylint-django = "*"
pytest-pythonpath = "*"
model-bakery = "*"
build = "*"

[requires]
python_version = "3.9"
