[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hashids = "*"

[dev-packages]
django = "*"
model-bakery = "*"
pytest = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-cov = "*"
tox = "*"
pylint = "*"
pylint-django = "*"
pycodestyle = "*"
autopep8 = "*"
mkdocs = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.9"
